@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  width: 120px;
  height: 120px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  margin: auto;
  top: 14rem;
}
body {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
  --tw-gradient-from: #374151;
  --tw-gradient-to: rgb(55 65 81 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(17 24 39 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), #111827, var(--tw-gradient-to);
  --tw-gradient-to: rgb(17 24 39 / 1);
  min-width: 100%;
  min-height: 100vh;
}